<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
<application android:allowBackup="true" android:label="@string/app_name" android:supportsRtl="true" android:theme="@style/Theme.IconSwitcher">
<activity android:name=".MainActivity" android:exported="true"/>
<activity-alias android:name=".LightIconAlias" android:enabled="true" android:exported="true" android:icon="@mipmap/ic_launcher_light" android:label="@string/app_name" android:targetActivity=".MainActivity">
<intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
</activity-alias>
<activity-alias android:name=".DarkIconAlias" android:enabled="false" android:exported="true" android:icon="@mipmap/ic_launcher_dark" android:label="@string/app_name" android:targetActivity=".MainActivity">
<intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
</activity-alias>
</application></manifest>